
//Form styles

form#contact {
  margin-top:30px;
}

.success {
  text-align: center;
  background: #00a651;
  color: $white;
  width:100%;
  margin:20px 0;
  padding:15px;
  display: block;
}

.error {
  text-align: center;
  background: $red;
  color: $white;
  width:100%;
  margin:20px 0;
  padding:15px;
  display: block;
}

//Contact Info

.white-box {
  background: #fff;
  width:100%;
  margin: 30px 0;
  padding:15px;
}
