/*Main module styles*/

.module {
  padding-bottom: $module-padding;
  padding-top: $module-padding;
  width:100%;
}

@media (min-width:768px){

  .module {
    padding-bottom: 40px;
    padding-top: 40px;
  }

}
