
.logo {
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.light {
  font-family: 'Raleway', sans-serif;
  font-size:1.1em;
  font-weight: $light;
}

.copyright {
  font-size:.7em;
  line-height: 3em;
}

h1, .h1 {
  font-family: 'Raleway', sans-serif;
  font-size:4em;
  font-weight: $bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2, .h2 {
  font-family: 'Raleway', sans-serif;
  font-size:2em;
  font-weight: $bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3, .h3 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size:2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4, .h4 {
  font-family: 'Raleway', sans-serif;
  font-size:1.4em;
  font-weight: $bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

h5, .h5 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size:1.6em;
  margin-top: 10px;
  margin-bottom: 10px;
}

h6, .h6 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size:1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 15px;
}

dl {
  font-size: .9em;
  line-height: 1.6em;
}

p {
  font-size: .9em;
  line-height: 1.6em;
  margin: 0 0 10px;

  a {
    border-bottom: 1px solid none;

    &:hover,
    &:active {
      border-bottom: 1px dotted $red;
    }
  }
}

a {
  color: $red;
  text-decoration: none;
  background: transparent;
}

a:hover,
a:active {
  outline:0;
}