#search {

  button {

    background-color:transparent;
    border:0;
    text-indent:-9999px;
    display:block;
    padding:10px;
    float: left;
    outline:0;
    cursor: pointer;

    span {
      overflow: hidden;
      display: block;
      width:13px;
      height:12px;
    }
  }

  input {
    border:0;
    width:auto;
    color: $white;
    background: none;
    padding:8px 15px;

    &:focus {
      outline: $red auto 5px;
    }
  }

}